//   GENERAL   //
@import 'config';
@import 'utilities';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: white;
    color: $dark-gray;
}
a {
    text-decoration: none;
    color: $dark-gray;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

//  NAVBAR //
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: 2px solid $dark-gray;
    opacity: .9;
    ul {
        display: flex;

    }
    a {
        color: white;
        padding: .45rem;
        margin: 0 .25rem;
        &:hover {
            color: $primary;
        }
    }
}

//  LANDING CLASSES
.landing {
    position: relative;
    background: url("../img/coding1.jpg") no-repeat center center;
    height: 100vh;
    &-inner {
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    a {
        color: $primary;
    }
}